.window {
    height: 100%;
}

.title{
    color: white;
    text-align: center;
    margin-top: 200px;
}

.subtitle{
    color:white;
    text-align: center;
    margin-top: 50px;
}

a {
    color: white;
}

.icon{
    margin-top: 100px;
}

svg{
    width: 60px;
    height: 60px;
}

path, ellipse, circle {
            fill: #FFF;
        }