<div class="footer">
  <a name="about"></a>
  <div class="container">
    <div class="row">
      <!-- <h1 class="text-white">Around the Web</h1> -->
    </div>
    <div class="row">

      <div class="col icon text-center">
        <a href="http://codepen.io/Cabeda/" alt="CodePen">
          <i class="fa fa-codepen fa-2x white" aria-hidden="true"> </i>
        </a>
      </div>
      <div class="col  icon text-center">
        <a href="https://medium.com/@cabeda" alt="Medium">
          <i class="fa fa-medium fa-2x white" aria-hidden="true"> </i>
        </a>
      </div>
      <div class="col  icon text-center">
        <a href="http://stackoverflow.com/users/3637832/jecabeda" alt="Stack Overflow">
          <i class="fa fa-stack-overflow fa-2x white" aria-hidden="true"> </i>
        </a>
      </div>
      <div class="col icon text-center">
        <a href="www.linkedin.com/in/jecabeda" alt="Linkedin">
          <i class="fa fa-linkedin fa-2x white" aria-hidden="true"> </i>
        </a>
      </div>
      <div class="col  icon text-center">
        <a href="https://github.com/Cabeda" alt="Github">
          <i class="fa fa-github fa-2x white" aria-hidden="true"> </i>
        </a>
      </div>
      <div class="col  icon text-center">
        <a href="mailto:jecabeda@gmail.com?Subject=CodeName:%20Portugal" target="_top" alt="Mail">
          <i class="fa fa-envelope fa-2x white" aria-hidden="true"> </i>
        </a>
      </div>
      <div class="col icon text-center">
          <a href="https://drive.google.com/file/d/0B9naa7YERIYBeVd3RnhFYXNKSWM/view?usp=sharing" target="_top" alt="Mail">
            <i class="fa fa-address-card fa-2x white" aria-hidden="true"> </i>
          </a>
        </div>
    </div>
  </div>
</div>