<div class="window">
    <div id="particles-js">
        <a name="resume"></a>
      <div class="row overlay">
        <div class="col col-md-auto">
          <h1  class="text-center">A Junior Developer</h1>
          <h6 class=" h6 text-center">Hi there! I'm an humble developer with hopes of doing it all (so called Full Stackers)</h6>
          <h6 class=" h6 text-center">I've mostly worked with frontend and I've done some work with Data Science</h6>
        </div>
      </div>
    </div>
  </div>