<div class="row">
  <div class="col text-center">
    <h1>My Articles</h1>
    <a name="articles"></a>
  </div>
</div>
<div class="card-columns">
  <div *ngFor="let item of articles">
    <div class="card card-default mx-auto bg-dark text-white">
      <img class="card-img-top img-responsive " src="{{item.img}}" alt="{{item.title}} ">
      <div class="card-body">
        <h4 class="card-title ">{{item.title}}</h4>
        <p class="card-text ">{{item.description}}</p>
        <a href="{{item.url}}" target="_blank" class="btn btn-primary text-right">See pen</a>
      </div>
    </div>
  </div>
</div>