/* You can add global styles to this file, and also import other style files */

  body {
    overflow-x: hidden;
  }

html,body
{
  margin:0;
  padding:0
}

.window {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img {
  width: 20rem;
  height: 10rem;
}

.card-default {
  width: 20rem;
  margin-bottom: 2%;
}

a {
  color: black;
}
