/* You can add global styles to this file, and also import other style files */

  body {
    overflow-x: hidden;
  }

html,body
{
  margin:0;
  padding:0
}

.window {
  height: 80vh;
}

a {
  color: black;
}
